body {
  background-color: #fafafa;
  color: #222;
}

.card {
  .form-group {
    textarea.form-control {
      height: 80px;
    }
  }
}

.login-brand {
  .img-logo-fill {
    width: 150px;
    object-fit: contain;
  }
}

.navbar-bg {
  background-color: #000;
}

.main-sidebar {
  .sidebar-brand {
    .logo-link {
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .sidebar-menu {
    li.active {
      a {
        color: #000;
        background-color: #eeeeee96;
      }
    }

    li {
      a {
        i {
          font-size: 16px;
          margin-top: 2px;
          margin-right: 15px;
        }

        &:hover {
          color: #222;
        }
      }
    }
  }
}

.section {
  .section-header {
    h1 {
      font-weight: 500;
    }
  }

  .section-title {
    &::before {
      background-color: #000;
    }
  }
}

body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
  background-color: #000;
  color: #fff;
}

.btn-primary,
.btn-primary.disabled {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #000;
  border-color: #000;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary.disabled:active,
.btn-primary.disabled:hover {
  background-color: #4c4b4b !important;
}

.btn-primary:focus:active,
.btn-primary.disabled:focus:active {
  background-color: #4c4b4b !important;
}

.page-item {
  &.active {
    .page-link {
      background-color: #000;
      border-color: #000;
    }
  }

  &.disabled {
    .page-link {
      color: #000;
    }
  }
}

a {
  color: #222;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.badge {
  &.badge-success {
    background-color: #30d158;
  }
}

.fixed-width-first {
  width: 70px;
}

table.dataTable {
  thead {
    th {
      .custom-checkbox.custom-control {
        padding-left: 0;
        margin-right: 0;
        cursor: pointer;
      }

      .custom-control-label::before,
      .custom-control-label::after {
        cursor: pointer;
      }
    }
  }

  tbody {
    .custom-checkbox.custom-control {
      cursor: pointer;
      padding-left: 30px;

      .custom-control-label::before,
      .custom-control-label::after {
        cursor: pointer;
      }
    }
  }
}

.action-div {
  min-width: 100px;
}

.dropdown-item.has-icon {
  i {
    margin-top: 0;
    font-size: 14px;
    text-align: left;
  }
}

a.dropdown-item:focus,
a.dropdown-item:active,
a.dropdown-item.active {
  background-color: #000;
  color: #fff !important;
}

.selectric-items li.selected,
.selectric-items li.highlighted {
  background-color: #000;
}

.card.card-primary {
  border-top: 2px solid #000;
}

.form-control:focus,
.input-group-text:focus,
.custom-select:focus,
.custom-file-label:focus {
  border-color: #000;
}

.selectric-open .selectric {
  border-color: #000;
}

.select2-container.select2-container--focus .select2-selection--multiple,
.select2-container.select2-container--focus .select2-selection--single {
  border-color: #000;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-results__option[aria-selected="true"],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #000;
}

.select2-container.select2-container--open .select2-selection--single {
  border-color: #000;
}

.section {
  .section-header {
    .section-header-back {
      .btn.btn-icon {
        display: flex;
        font-style: inherit;
        justify-content: center;
        align-items: center;
        min-height: 31px;

        &:hover {
          background-color: #000;
        }

        i {
          font-size: 16px;
          display: flex;
          margin: 0;
          padding: 0;
          line-height: 14px;
        }
      }
    }
  }
}

table.dataTable thead th.min-width-100 {
  min-width: 100px;
}

@media screen and (min-width: 1025px) {
  .main-sidebar {
    .sidebar-brand {
      height: 70px;
      line-height: 70px;
    }
  }

  nav.navbar.navbar-expand-lg.main-navbar {
    .navbar-nav {
      .dropdown-menu {
        margin: 10px 0 0 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .card .card-header,
  .card .card-body,
  .card .card-footer {
    background-color: transparent;
    padding: 20px 20px;
  }

  div.dataTables_wrapper {
    div.dataTables_info {
      padding-top: 0.85em;
      padding-bottom: 0.85em;
      white-space: nowrap;
    }

    div.dataTables_paginate {
      display: flex;
      justify-content: center;
    }
  }

  .main-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-wrapper-1 {
    .section {
      .section-header {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -20px;
        margin-right: -20px;
      }
    }
  }

  .navbar {
    .nav-link {
      padding-left: 0 !important;
      
      &.nav-link-user {
        padding-right: 0 !important;
      }
    }
  }

  .section {
    .section-header {
      .section-header-back {
        .btn.btn-icon {
          padding: 0;
          background-color: #fff;

          &:hover {
            color: #000;
            background-color: #fff;
          }
        }
      }
    }
  }  
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card .card-header,
  .card .card-body,
  .card .card-footer {
    background-color: transparent;
    padding: 20px 20px;
  }

  .table .last-action-width {
    width: 150px !important;
  }

  table.dataTable thead th .custom-checkbox.custom-control {
    padding-left: 0;
    margin-right: 0;
    cursor: pointer;
    min-width: 65px;
  }

  .table:not(.table-sm) thead th {
    min-width: 70px;
  }
}

@media (max-width: 1024px) {
  .main-footer {
    padding: 12px 30px 5px 30px;
  }
}
